<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="DashboardMaster.master.cs" Inherits="SmartExpenseTracker.MasterPages.DashboardMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Smart Expense Tracker</title>
    <link href="~/Assets/CSS/dashboard.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <!--Top navbar-->
        <div class="top-navbar">
            <div class="nav-left">
                <asp:Image ID="imgLogo" runat="server" Height="50px" ImageUrl="~/Assets/Images/mainLogo.png" />
                <span class="site-name">Smart Expense Tracker & Budget Monitoring</span>
            </div>
            <div class="nav-right">
            <!-- Username from DB -->
            <asp:Label ID="lblUserName" runat="server" CssClass="username"></asp:Label>
            <!-- Profile dropdown -->
            <asp:DropDownList ID="ddlProfileMenu"
                runat="server"
                CssClass="profile-dropdown"
                AutoPostBack="true"
                OnSelectedIndexChanged="ddlProfileMenu_SelectedIndexChanged">

                <asp:ListItem Text="My Account" Value="" Selected="True" ></asp:ListItem>
                <asp:ListItem Text="My Profile" Value="Profile" ></asp:ListItem>
                <asp:ListItem Text="Change Password" Value="ChangePassword" ></asp:ListItem>
                <asp:ListItem Text="Notifications" Value="MyNotification"></asp:ListItem>
                <asp:ListItem Text="Logout" Value="Logout" ></asp:ListItem>

            </asp:DropDownList>
        </div>
    </div>
        <!--Sidebar-->
        <div class="container">
            <div class="sidebar">
                <asp:HyperLink ID="hlDashboard" runat="server" NavigateUrl="~/Pages/Dashboard.aspx" CssClass="menu-item">Dashboard</asp:HyperLink>
                <asp:HyperLink ID="hlBudget" runat="server" NavigateUrl="~/Pages/Budgets.aspx" CssClass="menu-item">Budget</asp:HyperLink>
                <asp:HyperLink ID="hlExpense" runat="server" NavigateUrl="~/Pages/Expense.aspx" CssClass="menu-item">Expenses</asp:HyperLink>
                <asp:HyperLink ID="hlIncome" runat="server" NavigateUrl="~/Pages/Income.aspx" CssClass="menu-item">Income</asp:HyperLink>
                <asp:HyperLink ID="hlReport" runat="server" NavigateUrl="~/Pages/Report.aspx" CssClass="menu-item">Reports</asp:HyperLink>
                <asp:HyperLink ID="hlInsights" runat="server" NavigateUrl="~/Pages/SmartInsights.aspx" CssClass="menu-item">Smart Insights</asp:HyperLink>
               <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/Pages/GoalTracker.aspx" CssClass="menu-item">Goal Tracker</asp:HyperLink>


            </div>
            <!--Main Content-->
            <div class="main-content">
             <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
             </asp:ContentPlaceHolder>
        </div>
    </div>
    </form>
</body>
</html>
